* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    width: 1000px;
    min-height: 800px;
    background-color: rgb(71, 49, 71);
}
header {
    width: 1000px;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    /* padding: 0 20px 0 20px; */
}
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    float: left;
    margin: 5px 0 15px 20px;
}    
h2 {
    text-align:right;
    float: right;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;   
    margin: 18px 40px 0 0; 
}
#about p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 10px 0 5px 10px;
    padding: 0 5px 0 0;
}

#about {
    width: 1000px;
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    }
#about section {
    width: 540px;
    height: 253px;
    background-color: rgb(231, 225, 225);
    vertical-align: top;
    display: inline-block;
    margin: 0 0 0 20px;
}
#about a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin: 10px;
    color: black;
    
}
#about img {
    width: 390px;
    height: 253px;
    display: inline-block;
    vertical-align: top;
    border: 5px solid lightgray;
}

h3 {
    vertical-align: top;
    display: inline-block;
    margin: 0px 0 0px 0px;
    padding: 10px 0 10px 10px;
    font-size: 12pt;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 540px;
}
main {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 10px;
}
main section img {
    width: 302px;
    height: auto;
}
main section {
    background-color: rgb(244, 236, 250);
    width: 302px;
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 25px 10px;
}
main section h3 {
    vertical-align: top;
    display: inline-block;
    margin: 0px 0 0px 0px;
    padding: 10px 0 10px 10px;
    font-size: 12pt;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 302px
}
main p {
    height: 140px;
    padding: 5px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    }
h4 {
    vertical-align: top;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 10px 0 10px 10px;
    font-size: 10pt;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: gray;
    width: 302px;
}
.tech {
    vertical-align: top;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 10px 0px;
    width: 302px; 
    flex-wrap: wrap;
}
.tech img {
    width: 40px;
    height: auto;
    margin: 5px 10px 5px 10px;
}
main a {
    vertical-align: top;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border-radius: 8px;
    font-size: 10pt;
    color: rgb(245, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(8, 119, 8);
    text-decoration: none;
    font-size: small; 
    font-weight:550;
    box-shadow: 2px 2px 2px gray;
}
.center {
    text-align:center;
}

footer {
    width: 1000px;
    margin: 0;
    height: auto;
    background-color: white;
    display: flex; 
    justify-content: center;
    }
.contact {
    width: 450px;  
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
footer img {
    width: 20px;
    height: auto;
    margin: 10px 5px;
    vertical-align: middle;    
}
li {
    list-style-type: none;
}
.middle {
    vertical-align: middle;
}
